@import '../../common/styles/variables.scss';

.pili-header {
  width: 100%;
  height: $size-header-height;
  background-image: url('http://localhost:8081/resouces/pili/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  position: relative;
  .gradient-wrapper {
    background-image: linear-gradient(#0000005c, transparent);
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .bar-wrapper {
    height: 56px;
    color: white;
    padding: 10px 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    i.icon-bilibili {
      font-size: 18px;
      color: white;
      cursor: pointer;
    }
    .bar-navs {
      display: flex;
      align-items: center;
      .nav-item {
        font-size: 14px;
        margin-left: 12px;
      }
    }
    .bar-search-wrapper {
      
    }
    .bar-mine {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .mine-item {
        font-size: 14px;
        margin-right: 12px;
        cursor: pointer;
      }
      Button {
        width: 100px;
        height: 36px;
      }
    }
  }
}